body{
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    padding: 2rem 3rem;
    font-size: 2rem;
    text-decoration: none;
    color: #fff;
    background-color: blueviolet;
    border-radius: 10px;
    position: relative;
    transition: 0.5s;

    &::before{
        content: "CLICK";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: chocolate;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: rotateX(270deg);
        border-radius: 10px;
        transform-origin: top;
        transition: all 0.5s;
    }

    &::after{
        content: "CLICK";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        background-color: rgb(30, 210, 183);
        display: flex;
        justify-content: center;
        align-items: center;
        transform: rotateX(270deg);
        transition: all 0.5s;
        transition-delay: 0.25s;
        transform-origin: bottom;
    }

   &:hover:before, &:hover:after{
    transform: rotateX(0deg);
   }

}