* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
}

a {
  position: relative;
  padding: 1rem 4rem;
  background: white;
  text-decoration: none;
  color: #000;
  font-size: 1.5rem;
  border-radius: 40px;
  font-weight: bold;
  transition: all 0.9s;
}

a::before {
  content: "";
  position: absolute;
  background: white;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 40px;
  z-index: -1;
  transition: all 0.9s;
}

a:hover:before {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

a:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

a:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
