*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
    font-family: sans-serif;
}

#accordion{
    margin: 100px auto;
    width: 600px;
}

#accordion li{
    list-style: none;
    width: 600px;
    margin-bottom: 10px;
    background-color: white;
    padding: 10px;
}

#accordion li label{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    font-size: 18px;
    font-weight: 500;
    color: burlywood;
    cursor: pointer;
}

#accordion li label span {
    transform: rotate(90deg);
    font-size: 22px;
    color: burlywood;
}

#accordion label + input[type="radio"]{
    display: none;
}

#accordion .content{
    padding: 0 10px;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}

#accordion label + input[type="radio"]:checked + .content{
    max-height: 400px;
}