body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg ,rgb(0, 65, 88),rgb(37, 5, 40));
    color: white;
    font-family: sans-serif;
}

.scroll-container {
    background-color: black;
    width: 25rem;
    padding: 30px;
    border-radius: 18px;
}

.scroll-div{
    width: 400px;
    height: 500px;
    overflow: hidden;
    overflow-y: scroll;
}

.scroll-object{
    line-height: 20px;
}