* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

.btn {
  width: 150px;
  height: 50px;
  border: none;
  outline: none;
  background-color: #fff;
  color: #000;
  font-size: 1.2rem;
  font-weight: 600;
  position: relative;
  transition: 0.5s;
  scale: 2;
}
.btn:hover:before,
.btn:hover:after {
  height: 100%;
  width: 100%;
}

.btn::before {
  content: "";
  position: absolute;
  top: -7px;
  left: -7px;
  width: 40%;
  height: 60%;
  border: 2px solid transparent;
  border-top-color: rgb(1, 254, 229);
  border-left-color: rgb(1, 254, 229);
  transition: all 0.5s;
}

.btn::after {
  content: "";
  position: absolute;
  bottom: -7px;
  right: -7px;
  width: 40%;
  height: 60%;
  border: 2px solid transparent;
  border-right-color: rgb(1, 254, 229);
  border-bottom-color: rgb(1, 254, 229);
  transition: all 0.5s;
}
