* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

ul {
  display: flex;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  align-items: center;
}

ul li {
  list-style: none;
}

ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 2em;
  padding: 20px 20px;
  position: relative;
  transition: all 0.3s;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    transform: scaleX(0);
    transition: all 1s;
    transform-origin: left;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    transform: scaleX(0);
    transition: all 1s;
    transform-origin: right;
  }

  &:hover::before,
  &:hover::after {
    transform: scaleX(1);
  }
}
